.carousel-item {
    height: 35rem;
    background: black;
    color:rgb(243, 243, 245);
    position:relative; 

}
h1{
    color: white;
}

img{
    position:relative;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.slide-text {
    text-align: left;
    margin-bottom: 100px;
}

p {
    font-size: 20px;
}

.container {
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}


.bottomlink {
    background-color:rgb(122, 137, 168);
    transform: skew(-15deg);
    text-align: center;
    margin-top: 50px;
    width: 280px;
    height: 70px;
    padding: 20px;
    margin-right: 60px;
    margin-left: 0px;
    font-size: 100px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.Nav-items {
    margin-left: 12%;
    
}


.bottom-links {
    height: 12rem;
    background-color: rgb(7, 36, 99);
    align-items: center;
}